@model TestMVC3Tire.Models.Mandate
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Mandate Edit</legend>
        @Html.HiddenFor(model => model.MandateID)
        <div style="width: 100%; height: auto;">
            <table>
                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.MandateName)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.MandateName)
                        @Html.ValidationMessageFor(model => model.MandateName)
                    </td>
                </tr>

                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.ContactName)
                    </td>
                    <td class="editor-field">
                        @Html.DropDownListFor(m => m.ContactID, ViewBag.ddlContact as SelectList, "Select")
                        @Html.ValidationMessageFor(m => m.ContactID)

                        @* @Html.EditorFor(model => model.ContactName)
                        @Html.ValidationMessageFor(model => model.ContactName)*@
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.SalutationName)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.SalutationName)
                        @Html.ValidationMessageFor(model => model.SalutationName)
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ShowList")
</div>
